#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        test_layer {
            display-name = "Test";
            bindings = <
&kp A      &kp B      &kp C      &kp D      &kp E      &kp F        &kp LS(A)  &kp LS(B)  &kp LS(C)  &kp LS(D)  &kp LS(E)  &kp LS(F)
&kp G      &kp H      &kp I      &kp J      &kp K      &kp L        &kp LS(G)  &kp LS(H)  &kp LS(I)  &kp LS(J)  &kp LS(K)  &kp LS(L)
&kp M      &kp N      &kp O      &kp P      &kp Q      &kp R        &kp LS(M)  &kp LS(N)  &kp LS(O)  &kp LS(P)  &kp LS(Q)  &kp LS(R)
&kp S      &kp T      &kp U      &kp V      &kp W      &kp X        &kp LS(S)  &kp LS(T)  &kp LS(U)  &kp LS(V)  &kp LS(W)  &kp LS(X)
&kp Y      &kp Z      &kp N0     &kp N1     &kp N2     &kp N3       &kp LS(Y)  &kp LS(Z)  &kp N4     &kp N5     &kp N6     &kp N7
            >;
        };
    };
};
